.calculator {
  max-width: 240px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  background: #ddd;
  border-radius: .25rem;
  padding: 1rem;

  &__keyboard {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(4, 1fr);
    gap: .5rem;
    flex-wrap: wrap;
  }
}

