.button {
  cursor: pointer;
  appearance: none;
  background: deeppink;
  color: white;
  font-size: 1rem;
  font-family: monospace;
  border: 2px solid #fff;
  font-weight: bold;
  padding: .5rem;
  width: 100%;
  text-align: center;

  &:hover {
    background: hotpink;
  }

  &:focus-visible {
    outline: 2px solid #000;
  }

  &:active {
    background: rebeccapurple;
  }
}