.display {
  background: #bbb;
  color: #000;
  font-size: 1.5rem;
  font-family: monospace;
  border: none;
  width: 100%;
  text-align: right;
  border-radius: .25rem;
  padding: .25rem;
}

.visually-hidden {
  clip: rect(0 0 0 0); 
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap; 
  width: 1px;
}